Segunda Entregas/1TDSPB_2023_chatbot/Salesbot/Salesbot/flows (2).json
[
    {
        "id": "78e6ab47a0b11674",
        "type": "tab",
        "label": "SalesBot",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "7cc525670f9cdba4",
        "type": "telegram receiver",
        "z": "78e6ab47a0b11674",
        "name": "",
        "bot": "fca8239eb7b5820d",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 90,
        "y": 160,
        "wires": [
            [
                "2c71f510ca926e14"
            ],
            []
        ]
    },
    {
        "id": "2c71f510ca926e14",
        "type": "switch",
        "z": "78e6ab47a0b11674",
        "name": "switch",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 170,
        "y": 260,
        "wires": [
            [
                "8f4b2b9222c8adc5"
            ],
            [
                "7739bd218fc1eabb"
            ]
        ]
    },
    {
        "id": "8f4b2b9222c8adc5",
        "type": "function",
        "z": "78e6ab47a0b11674",
        "name": "ProcIn Texto",
        "func": "msg.params={\n    'session_id':msg.payload.chatId,\n    'tipo':msg.payload.type\n}\nmsg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 180,
        "wires": [
            [
                "a904052c6b4fe7e1"
            ]
        ]
    },
    {
        "id": "7739bd218fc1eabb",
        "type": "function",
        "z": "78e6ab47a0b11674",
        "name": "ProcIn Audio",
        "func": "msg.params={\n    'session_id':msg.payload.chatId,\n    'tipo':msg.payload.type\n}\nmsg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 330,
        "y": 340,
        "wires": [
            [
                "fec582a31c1d1e79"
            ]
        ]
    },
    {
        "id": "a904052c6b4fe7e1",
        "type": "watson-assistant-v2",
        "z": "78e6ab47a0b11674",
        "name": "Watson Salesforce",
        "service-endpoint": "https://api.us-south.assistant.watson.cloud.ibm.com/instances/85d591fe-83af-4414-9719-f467fcefb285",
        "assistant_id": "482dac51-2dfb-4d18-a284-ccc26231a50e",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 570,
        "y": 200,
        "wires": [
            [
                "1fec2d934e9bd12d",
                "7cfce0efbb77f709"
            ]
        ]
    },
    {
        "id": "1fec2d934e9bd12d",
        "type": "debug",
        "z": "78e6ab47a0b11674",
        "name": "debug 5",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 60,
        "wires": []
    },
    {
        "id": "7cfce0efbb77f709",
        "type": "function",
        "z": "78e6ab47a0b11674",
        "name": "ProcContext",
        "func": "if ('user_defined' in msg.payload.context.skills['main skill']) {\n    if ('tipo_saida' in msg.payload.context.skills['main skill'].user_defined){\n        msg.tipo_saida = msg.payload.context.skills['main skill'].user_defined.tipo_saida;\n    }else{\n        msg.tipo_saida = msg.params.tipo;\n    }\n}else{\n    msg.tipo_saida = msg.params.tipo;\n}\nmsg.payload = msg.payload.output.generic[0].text;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 790,
        "y": 200,
        "wires": [
            [
                "8fa738ccc5d45efa",
                "2dcafb66384fa686",
                "523a4234d9f8d6f6"
            ]
        ]
    },
    {
        "id": "8fa738ccc5d45efa",
        "type": "debug",
        "z": "78e6ab47a0b11674",
        "name": "debug 6",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 980,
        "y": 60,
        "wires": []
    },
    {
        "id": "2dcafb66384fa686",
        "type": "switch",
        "z": "78e6ab47a0b11674",
        "name": "",
        "property": "tipo_saida",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1010,
        "y": 200,
        "wires": [
            [
                "b6099c7922610da4"
            ],
            [
                "5d1e01874866e10a"
            ]
        ]
    },
    {
        "id": "5d1e01874866e10a",
        "type": "watson-text-to-speech",
        "z": "78e6ab47a0b11674",
        "name": "TtS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaVoice",
        "voicehidden": "",
        "format": "audio/wav",
        "password": "",
        "apikey": "xS08g60fu64vmmOJHaw-7yvCbKW0hy_2CFdBjYiCgWIB",
        "payload-response": true,
        "service-endpoint": "https://api.au-syd.text-to-speech.watson.cloud.ibm.com/instances/ced369aa-b515-4d5d-9096-403462982860",
        "x": 1130,
        "y": 340,
        "wires": [
            [
                "57dd877b4303933d"
            ]
        ]
    },
    {
        "id": "523a4234d9f8d6f6",
        "type": "debug",
        "z": "78e6ab47a0b11674",
        "name": "debug 7",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1160,
        "y": 60,
        "wires": []
    },
    {
        "id": "b6099c7922610da4",
        "type": "function",
        "z": "78e6ab47a0b11674",
        "name": "ProcOut Texto",
        "func": "msg.payload = {\n    'content':msg.payload,\n    'chatId':msg.params.session_id,\n    'type':'message' \n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1220,
        "y": 140,
        "wires": [
            [
                "bf59776cac03eaa6",
                "a00710926d222549"
            ]
        ]
    },
    {
        "id": "57dd877b4303933d",
        "type": "function",
        "z": "78e6ab47a0b11674",
        "name": "ProcOut Audio",
        "func": "msg.payload = {\n    'content': msg.payload,\n    'chatId': msg.params.session_id,\n    'type': 'voice'\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1320,
        "y": 340,
        "wires": [
            [
                "bf59776cac03eaa6",
                "1cbda1d68c9a5b2d"
            ]
        ]
    },
    {
        "id": "1cbda1d68c9a5b2d",
        "type": "debug",
        "z": "78e6ab47a0b11674",
        "name": "debug 8",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1520,
        "y": 340,
        "wires": []
    },
    {
        "id": "bf59776cac03eaa6",
        "type": "telegram sender",
        "z": "78e6ab47a0b11674",
        "name": "",
        "bot": "fca8239eb7b5820d",
        "haserroroutput": false,
        "outputs": 1,
        "x": 1550,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "fec582a31c1d1e79",
        "type": "watson-speech-to-text",
        "z": "78e6ab47a0b11674",
        "name": "StT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "BroadbandModel",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "bkO7YM_MZo9RZ5SmOZVE0-AjxS7CA3TkwwRmCxPsCdLm",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.au-syd.speech-to-text.watson.cloud.ibm.com/instances/e34119d8-92d8-4e53-aa5f-c9ea21e9370d",
        "x": 490,
        "y": 300,
        "wires": [
            [
                "a904052c6b4fe7e1"
            ]
        ]
    },
    {
        "id": "a00710926d222549",
        "type": "debug",
        "z": "78e6ab47a0b11674",
        "name": "debug 9",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1420,
        "y": 40,
        "wires": []
    },
    {
        "id": "fca8239eb7b5820d",
        "type": "telegram bot",
        "botname": "SalesBot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]